@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @RenderBody();
</head>
<body>
    <div>
    <p>Day la page can redirect toi</p>
    </div>
</body>
</html>
